<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLogueado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                
                <form class="nueva" action="/">   
                    <h2>Agregar Publicación</h2> 
                    <p>
                        <label for="">imagen</label>
                        <input type="file" name="imagen">
                    </p>
                    <p>
                        <label for="">Descripción</label>
                        <input type="text" name="nombreDeUsuario">
                    </p>
                    
                    <p>
                        <button type="submit">Publicar</button>
                    </p>

                </form>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html>