<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (userlogged) { %>
        <%- include('./partials/headerLogueado') %>
    <% }else{ %>
    <%- include('./partials/headerDeslogueado') %>
    <% } %>

    <main class="login">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
              
                <form class="iniciar" action="/users/login" method="POST">
                    <h2>Inicia Sesión</h2>
                    <p>
                        <label for="">Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label for="">Contraseña</label>
                        <input type="password" name="contra">
                    </p>
                    <p>
                        <label >Recordarme</label>
                        <input type="checkbox" name="recordame">
                    </p>

                    <p>
                        <button type="submit">Iniciar sesion</button>
                    </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>