<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerDeslogueado') %>

    <main class="login">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2>Inicia Sesión</h2>
                <form action="/">
                
                    <p>
                        <label for="">Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label for="">Contraseña</label>
                        <input type="password" name="contra">
                    </p>

                    <p>
                        <button type="submit">Registrarse</button>
                    </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>