.nueva{
    background-color: white;
    padding: 20px;
}

.nueva h2{
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.nueva input{
    width: 100%;
    padding: 5px;
}

.nueva label {
    font-family: 'Bebas Neue', cursive;
}

.nueva button{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(106, 90, 205);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    
}